/* ---------- CUSTOM PROPERTIES --------------- */

:root {
  --cl-black: 0, 0%, 5%;
  --cl-white: 0, 0%, 100%;
  --cl-profile-name: 0, 0%, 97%;
  --cl-profile-bio: 0, 0%, 72%;
  --cl-like-btn-hovered: 162, 100%, 93%;
  --cl-reject-btn-hovered: 340, 100%, 95%;
}

/* RESET */
/* CSS Reset https://andy-bell.co.uk/a-modern-css-reset/ */

*,
*::after,
*::before {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* Set up body */
body {
  font-family: "Poppins", sans-serif;
  color: hsl(var(--cl-profile-bio));
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.5;
}

/* Make images easier to work with */
img {
  display: block;
  object-fit: cover;
}

/* ---------------- UTILITY CLASSES ------------------*/

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 0.5rem;
  max-width: 35rem;
  background-color: hsl(var(--cl-profile-name));
  display: flex;
}

.rounded {
  border-radius: 50%;
}

.flex {
  display: flex;
}

/* ----------------- TYPOGRAPHY ------------------- */

h2,
.end-btn {
  font-size: 2rem;
  font-weight: 600;
  color: hsl(var(--cl-profile-name));
}

h2 {
  line-height: 1.125;
}

/* ----------------- BUTTONS ------------------- */

.button-wrapper {
  justify-content: center;
  padding: 1.5rem 0;
  gap: 1.5rem;
}

.btn {
  width: 5.75rem;
  height: 5.75rem;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: hsl(var(--cl-white));
  box-shadow: 0 10px 15px hsl(var(--cl-profile-bio), 0.5);
  cursor: pointer;
}

.reject-btn:hover,
.reject-btn:focus {
  background-color: hsl(var(--cl-reject-btn-hovered));
  box-shadow: 0 10px 15px hsl(var(--cl-reject-btn-hovered), 0.8);
}

.like-btn:hover,
.like-btn:focus {
  background-color: hsl(var(--cl-like-btn-hovered));
  box-shadow: 0 10px 15px hsl(var(--cl-like-btn-hovered), 0.8);
}

.end-btn {
  margin: 1.25rem 0;
  border: none;
  border-radius: 1.25rem;
  padding: 0.875rem 6rem;
  background-image: linear-gradient(
    90deg,
    rgba(248, 51, 117, 1) 0%,
    rgba(250, 105, 90, 1) 100%
  );
  cursor: pointer;
}

.end-btn:hover,
.end-btn:focus {
  background: linear-gradient(
    180deg,
    rgba(0, 216, 148, 1) 0%,
    rgba(86, 233, 205, 1) 100%
  );
}

/* ---------------- LAYOUT -------------------- */

/* Header */

header .container {
  padding: 1.25rem 1.125rem;
  justify-content: space-between;
  align-items: center;
}

.profile-icon {
  width: 2rem;
  height: 2.125rem;
}

.logo {
  width: 5.25rem;
  height: 2.625rem;
}

.chat-icon {
  width: 2.125rem;
  height: 2.125rem;
}

/* Profile */

main .container {
  flex-direction: column;
}

.profile,
.end {
  max-width: 100%;
  min-height: 47rem;
  flex-direction: column;
}

.profile {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  min-height: 47rem;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 1rem;
  padding-left: 0.75em;
  padding-bottom: 1em;

  justify-content: end;
}

/* Labels */

.label {
  position: absolute;
  top: 3.5rem;
  left: 0.75em;
  max-width: 14.625rem;
  max-height: 7.25rem;
  transform: rotate(-30deg);
}

/* End */

.end {
  justify-content: end;
  align-items: center;
}

.end-message {
  text-align: center;
  margin-top: 10rem;
}
